<!DOCTYPE html>
<html>

  <head>

    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/header.css' />
  
  </head>

  <body>

    <header>
      <% include ./partials/header %>
    </header>
    
    <main>

      <%- body %>
      
    </main>
    
    <footer>
      <% include ./partials/footer %>
    </footer>


  </body>

</html>
