<head>
    <link rel="stylesheet" href="./stylesheets/button.css">
</head>
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/gecko_logo_red.png" class="card-img-top" alt="...">
                    <h5 class="card-title mb-0">Gecko Alpha</h5>
                    <div class="card-text text-black-50">Project Leader</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/gecko_logo_green.png" class="card-img-top" alt="...">
                    <h5 class="card-title mb-0">Gecko Beta</h5>
                    <div class="card-text text-black-50">Web App Developer</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Team Member 3 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/gecko_logo_blue.png" class="card-img-top" alt="...">
                    <h5 class="card-title mb-0">Gecko Gamma</h5>
                    <div class="card-text text-black-50">Hardware Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/gecko_logo_yellow.png" class="card-img-top" alt="...">
                    <h5 class="card-title mb-0">Gecko Delta</h5>
                    <div class="card-text text-black-50">Embedded systems Developer</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->