<head>
    <link rel="stylesheet" href="./stylesheets/button.css">
</head>
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/jacob.jpg" class="card-img-top" alt="...">
                    <h3 class="card-title mb-0">Jacob</h3>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/tom_alex.jpg" class="card-img-top" alt="...">
                    <h3 class="card-title mb-0">Tom & Alex</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Team Member 3 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/alex.jpg" class="card-img-top" alt="...">
                    <h3 class="card-title mb-0">Alex x 2</h3>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/akshay.jpg" class="card-img-top" alt="...">
                    <h3 class="card-title mb-0">Akshay</h3>
                </div>
            </div>
        </div>
    </div>
            <!-- Team Member 5 -->
            <div class="col-md-6">
                <div class="card border-0 shadow">
                    <div class="card-body text-center">
                        <img src="./images/sam.jpg" class="card-img-top" alt="...">
                        <h3 class="card-title mb-0">Sam</h3>
                    </div>
                </div>
            </div>
                    <!-- Team Member 6 -->
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <img src="./images/daniel.jpg" class="card-img-top" alt="...">
                    <h3 class="card-title mb-0">Daniel</h3>
                </div>
            </div>
        </div>
                <!-- Team Member 7 -->
                <div class="col-md-6">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center">
                            <img src="./images/kacper.jpg" class="card-img-top" alt="...">
                            <h3 class="card-title mb-0">Kacper</h3>
                        </div>
                    </div>
                </div>
</div>
<!-- /.container -->
