<head>
    <link rel="stylesheet" href="./stylesheets/button.css">
</head>


<ul>
    <li><button onclick="start_signal()"><a href="#" class="round black">Start<span class="round"> Starts the data
                    transmission </span></a></button></li>

    <li><button onclick="stop_signal()"><a href="#" class="round green">Stop<span class="round"> Stops the data
                    transmission </span></a></button></li>

    <li><button onclick="reset_signal()"><a href="#" class="round red">Reset<span class="round"> Resets the device
                </span></a></button></li>

    <li><button onclick="modify_signal()"><a href="#" class="round yellow">Update<span class="round">Updates the software to the latest GitHub version
                </span></a></button></li>

</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket_client = io();

    console.log('Socket connected on the client side');
    function start_signal() {
        socket_client.emit('start', true);

    }

    function stop_signal() {
        socket_client.emit('stop', true);

    }

    function reset_signal() {
        socket_client.emit('reset', true);
    }

    function modify_signal() {
        socket_client.emit('modify', true);
    }
</script>