<head>
    <link rel="stylesheet" href="./stylesheets/button.css">
</head> 
<div class='jumbotron'>
    <h2 class='text-center'>Grip Pressure</h2>
    <hr>
    <div class='row'>
        <div class='col-md-6'>
            <canvas id="recent_grip" width="200" height="200"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script src="./scripts/recent_grip.js"></script>
        </div>
        <div class='col-md-6'>
            <canvas id="all_grip" width="200" height="200"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script src="./scripts/all_grip.js"></script>
        </div>
    </div>
</div>
<div class='jumbotron'>
    <h2 class='text-center'>Accelerometer</h2>
    <hr>
    <div class='row'>
        <div class='col-md-6'>
            <canvas id="recent_accelerometer" width="200" height="200"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script src="./scripts/recent_accelerometer.js"></script>
        </div>
        <div class='col-md-6'>
            <canvas id="all_accelerometer" width="200" height="200"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script src="./scripts/all_accelerometer.js"></script>
        </div>
    </div>
</div>
<div class='jumbotron'>
    <h2 class='text-center'>Gyroscope</h2>
    <hr>
    <div class='row'>
        <div class='col-md-6'>
            <canvas id="recent_gyroscope" width="200" height="200"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script src="./scripts/recent_gyroscope.js"></script>
        </div>
        <div class='col-md-6'>
            <canvas id="all_gyroscope" width="200" height="200"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script src="./scripts/all_gyroscope.js"></script>
        </div>
    </div>
</div>