<div class="jumbotron" style="background-image: url(./images/gecko_logo.png); 
 background-size: 100% 100%;">
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to Gecko Web App</p>
</div>
<div class='jumbotron'>
    <h2 class='text-center'>Grip Pressure</h2>
    <hr>
    <div class='row'>
        <div class='col-md-6'>
            <img class="center-block" src="./images/gecko_logo_yellow.png">
        </div>
        <div class='col-md-6'>
                <img class="center-block" src="./images/gecko_logo_yellow.png">
        </div>
    </div>
</div>
<div class='jumbotron'>
    <h2 class='text-center'>Accelerometer</h2>
    <hr>
    <div class='row'>
        <div class='col-md-6'>
                <img class="center-block" src="./images/gecko_logo_green.png">
        </div>
        <div class='col-md-6'>
                <img class="center-block" src="./images/gecko_logo_green.png">
        </div>
    </div>
</div>