<head>
    <link rel="stylesheet" href="./stylesheets/button.css">
</head>


<ul>
    <li><a href="/data_analysis" class="round black">Start<span class="round">Visualise rifle grip data!</span></a></li>
    <li><a href="/configure" class="round green">Configure<span class="round">Configure your device</span></a></li>
</ul>