<div class="jumbotron" style="background-image: url(./images/gecko_logo.png); 
 background-size: 100% 100%;">
    <h1><%= title %></h1>
    <p>Welcome to Gecko Web App</p>
    <a href="/data_analysis" class="btn btn-primary btn-block" role="button">
        Start
    </a>
</div>