<!-- views/partials/header.ejs -->
<div class="topnav">
    <!-- Left-aligned links (default) -->
    <a href="/"> <img src="./images/gecko_logo.png" width="20" height="20" class="d-inline-block align-top" alt="">
        Gecko</a>
    <a href="/">Home</a>
    <a href="/data_analysis">Data Analysis
        <a href="/configure">Configure</a>
        <a href="/about">Team</a>
</div>

<div class="container">
    <img src="./images/gecko_logo.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
</div>